**/node_modules
**/.vscode
**/.idea
*.iml

packages/**/report.*.json
packages/**/dist
packages/**/lib
packages/se-mobile-front/public/uploads/
packages/**/.env.development
**/npm-debug.log
**/package-lock.json
lerna-debug.log
git
Dockerfile
.gitlab-ci.yml

.DS_Store
*.codekit3
.codekit3

**/test/__snapshots__/*
adminApp.*.js
app.*.js
logs/
